<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= @book.name %> successfully registered in the Library</h1>
<p>
  Your book <%= @book.name %> was successfully registered in our Library
</p>
<p>Thanks for sharing and have a great day!</p>
</body>
</html>