<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Book <%= @book.name %> was successfully reserved</h1>
<p>
  You have reserved a book <%= @book.name %> and book need to be returned no later than <%= @book.deadLine %>
</p>
<p>Have a great day!</p>
</body>
</html>