<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>You need to return the book <%= @book.name %></h1>
<p>
  You need to return the book before <%= @book.deadLine %> thanks for understanding
</p>
<p>Have a great day!</p>
</body>
</html>